<div class="row fill">
  <div class="col-sm-12 col-md-6 col-lg-6 main-form">
    <% if user_signed_in? %>
    <%= render :partial => 'posts/form' %>
    <li>
      <%= link_to 'New Post', new_post_path %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
    <% else %>
    <%= render :template => 'devise/sessions/new' %>
    <li>

      <%= link_to('Login', new_user_session_path)  %>
      <%= link_to('Sign up', new_user_registration_path)  %>
    </li>
    <% end %>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 post-form">

    <%= render :template => "posts/index" %>
  </div>
</div>
