<div class="row fill">
  <div class="col-sm-12 col-md-4 col-lg-4 main-form">
    <center>
    <% if user_signed_in? %>
    <%= render :partial => 'posts/form' %>
    <li>
      <%= link_to 'New Post', new_post_path %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </li>
    <% else %>
    <p class="header-text">
      Want to post something? Just login or sign up. It's fast and fascinating.
    </p>
    <%= render :template => 'devise/sessions/new' %>
    <p class="header-sub">
      Our members have the opportunity to share stories with each other. Forming a social cycle. Join us and turn your experience into the virtual world.
    </p>
    <span>
      <%= link_to("Don't you have an account? Sign up.", new_user_registration_path)  %>
    </span>
    <% end %>
    </center>
  </div>
  <div class="col-sm-12 col-md-8 col-lg-8 post-form">

    <%= render :template => "posts/index" %>
  </div>
</div>
