<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand mr-auto" href="<%= root_path %>">FORUM</a>
      <div class="collapse navbar-collapse  float-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="<%= people_path %>">
              People</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= posts_path %>">Posts</a>
          </li>

        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
